{% extends "layouts/inner.html" %}

{% block title %}Today's Orders | CDS{% endblock %}

{% block content %}
<div class="page-header col-xs-12 col-lg-12">
	<h1>Daily Order Printing</h1>
</div>
<div class="col-sx-12 col-lg-12">
	<table class="table text-center">
		<thead>
			<tr>
				<th>Order#</th>
				<th>Cash To Be Paid</th>
				<th>Dish</th>
				<th>Phone</th>
				<th>UserName</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
			<tr>
				<td>{{ order.today_id }}</td>
				<td>{{ order.to_be_paid }}</td>
				<td>{{ order.dish.name }}</td>
				<td>{{ order.user.phone }}</td>
				<td>{{ order.user.name }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}