{% extends "layouts/inner.html" %}

{% block title %}Order Statistics | CDS{% endblock %}

{% block content %}
<div class="page-header col-xs-12 col-lg-12">
	<h1>Daily order statistics</h1>
</div>
<div class="col-sx-12 col-lg-12">
	<table class="table text-center">
		<thead>
			<tr>
				<th>Restaurant</th>
				<th>Dish</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			{% for i in range(0, n) %}
			<tr>
				<td>{{ statistics[i].restaurant_name }}</td>
				<td>{{ statistics[i].dish_name }}</td>
				<td>{{ statistics[i].amount }}</td>
			</tr>
			{% if i != n-1 and statistics[i].restaurant_name != statistics[i+1].restaurant_name %}
				<tr><td colspan=3><br></td></tr>
				{% endif %}
			{% endfor %}
			<tr><td colspan=3><br></td></tr>
		</tbody>

		<tfoot>
			<tr>
				<td style="font-weight: bold;color: #FF9800;font-size: 28px;">Sum:</td>
				<td></td>
				<td style="font-weight: bold;color: #FF9800;font-size: 28px;">{{ sum }}</td>
			</tr>
		</tfoot>
	</table>
</div>
{% endblock %}