{% extends "layouts/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login | CDS{% endblock %}

{% block content %}
{{ super() }}
<div class="container" style="margin-bottom: 50px;">

	<div id="resetpwbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="mypanel">
			<div class="panel-heading text-center">
				<img style="width:88px;" src="{{ url_for('static', filename='assets/images/logo_red.png') }}">
				<div class="panel-title" style="font-size: 18px;margin-top: 20px;font-weight: bold;">Change Password</div>
			</div>
			<div style="padding-top:30px;" class="panel-body">
				<form method="POST">
					{{ form.hidden_tag() }}

					<div class="my-form" style="margin-bottom: 25px;">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              {{ form.old_psw(class='form-control') }}
            </div>
            {% if form.old_psw.errors %}
              <div class="form-validate_error">{{ form.old_psw.errors.0 }}</div>
            {% endif %}
          </div>

          <div class="my-form" style="margin-bottom: 25px;">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              {{ form.new_psw(class='form-control') }}
            </div>
            {% if form.new_psw.errors %}
              <div class="form-validate_error">{{ form.new_psw.errors.0 }}</div>
            {% endif %}
          </div>

          <div class="my-form" style="margin-bottom: 25px;">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              {{ form.new_psw2(class='form-control') }}
            </div>
            {% if form.new_psw2.errors %}
              <div class="form-validate_error">{{ form.new_psw2.errors.0 }}</div>
            {% endif %}
          </div>

          <div style="margin-top:10px" class="my-form">
          	<!-- Button -->
          	<div class="col-xs-12 controls">
          		{{ form.submit(class="btn btn-danger btn-block btn-my" ) }}
            </div>
          </div>
        </form>
      </div>
    </div>	
  </div>
</div>
{% endblock %}