{% extends "layouts/base.html" %}

{% block title %}Login | CDS{% endblock %}

{% block content %}
{{ super() }}
<div class="container" style="margin-bottom: 50px;">

	<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  	<div class="mypanel" >
      <div class="panel-heading text-center">
      	<img style="width:88px;" src="{{ url_for('static', filename='assets/images/logo_red.png') }}">
        <div class="panel-title" style="font-size: 18px;margin-top: 20px;font-weight: bold;">Use Registered HKU Email to Login</div>
      </div>
      <div style="padding-top:30px;" class="panel-body" >
      	<form method="POST">
      		{{ form.hidden_tag() }}

      		<div class="my-form" style="margin-bottom: 25px">
  	        <div class="input-group">
  	        	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  	        	{{ form.email(class='form-control') }}
  	      		<span class="input-group-addon">@(connect.)hku.hk</span>
  	       	</div>
            {% if form.email.errors %}
              <div class="form-validate_error">{{ form.email.errors.0 }}</div>
            {% endif %}
          </div>
          <p style="font-size: 14px;opacity: 0.7;margin:-20px 0px 20px 3px;">* Only content before @ is needed</p>

          <div class="my-form">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              {{ form.password(class='form-control') }}
            </div>
            {% if form.password.errors %}
              <div class="form-validate_error">{{ form.password.errors.0 }}</div>
            {% endif %}
          </div>

          <div class="input-group col-xs-12 col-lg-12">
          	<div  class="my-form" style="float:left; margin-top: 0.5em">
          		{{ form.remember_me }}
               <span style="font-size: 14px;font-weight: normal;">{{ form.remember_me.label }}</span>
            </div>

            <div style="float:right; font-size: 14px; margin-top: 0.8em;">
            	<a href="{{ url_for('auth.signup') }}">Register Now</a>
            	<span style="opacity: 0.3;">&nbsp|&nbsp</span>
            	<a href="{{ url_for('auth.password_reset_request') }}">Forget Password</a>
            </div>
          </div>

          <div style="margin-top:10px" class="my-form">
          	<!-- Button -->
          	<div class="col-xs-12 controls">
          		{{ form.submit(class="btn btn-danger btn-block btn-my" ) }}
            </div>
          </div>
        </form>
      </div>
    </div>	
  </div>
</div>
{% endblock %}