{% extends "layouts/base.html" %}

{% block title %}Forget Password | CDS{% endblock %}

{% block content %}
{{ super() }}
<div class="container" style="margin-bottom: 50px;">

	<div id="forgetpwbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="mypanel" >
      <div class="panel-heading text-center">
      	<img style="width:88px;" src="{{ url_for('static', filename='assets/images/logo_red.png') }}">
        <div class="panel-title" style="font-size: 18px;margin-top: 20px;font-weight: bold;">Request to Reset Password</div>
      </div>
      <div style="padding-top:30px;" class="panel-body" >
      	<form method="POST" action="{{ url_for('auth.password_reset_request') }}">
      		{{ form.hidden_tag() }}

	      	<div class="my-form" style="margin-bottom: 25px">
		        <div class="input-group">
		        	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
		        	{{ form.email(class='form-control') }}
		       	</div>
		       	{% if form.email.errors %}
	            <div class="form-validate_error">{{ form.email.errors.0 }}</div>
	          {% endif %}
	        </div>
	        <p style="font-size: 14px;opacity: 0.7;margin:-20px 0px 20px 3px;">* The email suffix should be the same as the registration. </p>
	        <p style="font-size: 14px;opacity: 0.7;margin:-20px 0px 20px 3px;">(if the registered email address is <i>@hku.hk</i>, you must use <i>@hku.hk</i> when retrieving the password. The same for <i>@connect.hku.hk</i>.)</p>

	       	<div style="margin-top:10px" class="my-form">
	        	<!-- Button -->
	        	<div class="col-xs-12 controls">
	        		{{ form.submit(class="btn btn-danger btn-block btn-my" ) }}
	          </div>
	        </div>
	      </form>
      </div>
    </div>	
  </div>
</div>
{% endblock %}