<div id="footer">
    <div class="col-xs-12" style=" text-align:center;">
        <a data-image-url="https://c1.staticflickr.com/1/656/32129682191_e97ac66a1c_m.jpg" data-toggle="popover"><img src="{{ url_for('static', filename='assets/images/wechat.png') }}" width=25></a>

        <span style="opacity: 0.3;">&nbsp|&nbsp</span>

        <a href="mailto:cds.hku@gmail.com?Subject=咨詢-Consultation" target="_top" style="margin-right: 16px">cds.hku@gmail.com</a>
        <br>
        <span class="cds-title" style="color:#777;"> CDS </span><span style="opacity: 0.3;">&nbsp|&nbsp</span> <a href="#modal-term-cond" class="modal-toggle" data-toggle="modal"> Terms & Conditions</a></p>
        <br>
    </div>
</div>

{% include 'layouts/_term_and_cond.html' %} 
