<div id="modal-term-cond" class="modal fade" tabindex="-1" aria-labelledby="TermCondition" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <h1>味致服務協議</h1>
            </div>
            <div class="modal-body">
                <p align="left">
                    歡迎使用味致提供的線上訂餐線下取餐服務，在您使用味致提供的所有服務之前，請仔細閱讀下面的服務條款。
                </p>
                <p align="left">
                    一、 協議
                </p>
                <p align="left">
                    本服務協議雙方為味致社團（下稱『味致』）與味致註冊用戶，本服務協議具有合同效力。
                </p>
                <p align="left">
                    本服務協議內容包括協議正文及所有味致已經發布的或將來可能發布的各類規則。所有規則為協議不可分割的一部分，與協議正文具有同等法律效力。
                </p>
                <p align="left">
                    在本服務協議中沒有以『規則』字樣表示的鏈接文字所指示的文件不屬於本服務協議的組成部分，而是其它內容的協議或有關參考數據，與本協議沒有法律上的直接關系。
                </p>
                <p align="left">
                    用戶在使用味致提供的各項服務的同時，承諾接受並遵守各項相關規則的規定。味致有權根據需要不時地制定、修改本協議或各類規則，如本協議有任何變更，味致將在網站上刊載公告，通知予用戶。如用戶不同意相關變更，必須停止使用『服務』。經修訂的協議一經在味致公布後，立即自動生效。各類規則會在發布後生效，亦成為本協議的一部分。登錄或繼續使用『服務』將表示用戶接受經修訂的協議。除另行明確聲明外，任何使『服務』範圍擴大或功能增強的新內容均受本協議約束。
                </p>
                <p align="left">
                    用戶確認本服務協議後，本服務協議即在用戶和味致之間產生法律效力。請用戶務必在註冊之前認真閱讀全部服務協議內容，如有任何疑問，可向味致咨詢。
                    1)無論用戶事實上是否在註冊之前認真閱讀了本服務協議，只要用戶點擊協議正本下方的“確認”按鈕並按照味致註冊程序成功註冊為用戶，用戶的行為仍然表示其同意並簽署了本服務協議。
                    2)本協議不涉及用戶與味致其它用戶之間因網上服務而產生的法律關系及法律糾紛。
                </p>
                <p align="left">
                    二、 定義
                </p>
                <p align="left">
                    味致網上服務平臺：味致是一個提供線上訂餐線下取餐的平臺。有關味致網上服務平臺上的術語或圖示的含義，詳見味致訂餐流程。
                </p>
                <p align="left">
                    用戶及用戶註冊：用戶必須是具備完全民事行為能力的自然人，或者是具有合法經營資格的實體組織。無民事行為能力人、限制民事行為能力人以及無經營或特定經營資格的組織不當註冊為味致用戶或超過其民事權利或行為能力範圍從事服務的，其與味致之間的服務協議自始無效，味致一經發現，有權立即註銷該用戶，並追究其使用味致網“服務”的一切法律責任。
                </p>
                <p align="left">
                    用戶註冊是指用戶登陸味致網站，並按要求填寫相關信息並確認同意履行相關用戶協議的過程。用戶因進行交易、獲取有償服務或接觸味致網站服務器而發生的所有應納稅賦，以及一切硬件、軟件、服務及其它方面的費用均由用戶負責支付。
                </p>
                <p>
                    味致平臺上餐品均為合作商戶自行制作，味致不對任何物品本身負責；味致合作商戶承諾自己在使用味致網站時實施的所有行為均遵守國家法律、法規和味致的相關規定以及各種社會公共利益或公共道德。如有違反導致任何法律後果的發生，味致合作商戶將以自己的名義獨立承擔所有相應的法律責任。
                </p>
                <p align="left">
                    三、 用戶權利和義務：
                </p>
                <p align="left">
                    用戶的權利：
                </p>
                <p align="left">
                    用戶有權利擁有自己在味致網站的用戶名及交易密碼，並有權利使用自己的用戶名及 密碼隨時登陸味致網站服務平臺。用戶不得以任何形式擅自轉讓或授權他人使用自己的味致網站用戶名；
                </p>
                <p align="left">
                    用戶有權利通過訂餐及推廣味致網站獲得消費積分和推廣積分，並使用積分兌換相應優惠；
                </p>
                <p align="left">
                    用戶有權利使用味致網站並和味致微信公眾平臺取得直接聯系，以獲得最新的菜品信息和相關增值服務；
                </p>
                <p align="left">
                    用戶有權利對味致合作商戶的服務做出評價和投訴，並提出建議和意見；
                </p>
                <p align="left">
                    用戶在味致網站上訂餐、訂外賣交易過程中如與其他用戶因交易產生糾紛，可以請求味致從中予以協調。用戶如發現其他用戶有違法或違反本服務協議的行為，可以向味致進行反映要求處理。如用戶因網站上訂餐、訂外賣交易與其他用戶產生訴訟的，用戶有權通過司法部門要求味致提供相關資料；
                </p>
                <p align="left">
                    用戶的義務：
                </p>
                <p align="left">
                    用戶有義務在註冊時提供自己的真實資料，並保證諸如電子郵件地址、聯系電話等內容的有效性及安全性，保證味致網站可以通過上述聯系方式與自己進行聯系。同時，用戶也有義務在相關資料實際變更時及時更新有關註冊資料。用戶保證不以他人資料在味致網站進行註冊或認證；若用戶使用虛假電話、姓名、郵箱地址或冒用他人信息使用味致訂餐服務，味致將做出相應處罰或屏蔽IP地址的處理；對味致造成經濟損失的，味致將保留追究法律責任的權利；
                </p>
                <p align="left">
                    用戶應當保證在使用味致網上服務平臺進行交易過程中遵守誠實信用的原則，不在交易過程中采取不正當競爭行為，不擾亂網上交易的正常秩序，不從事與網上交易無關的行為；
                </p>
                <p align="left">
                    用戶同意，不對味致網站任何數據作商業性利用，包括但不限於在未經味致事先書面批準的情況下，以復制、傳播等方式使用在味致網站上展示的任何資料。
                </p>
                <p align="left">
                    四、味致的權利和義務：
                </p>
                <p align="left">
                    味致有義務在現有技術上維護整個網上服務平臺的正常運行，並努力提升和改進技術，使用戶網上交易活動得以順利進行；
                </p>
                <p align="left">
                    對用戶在註冊使用味致網上服務平臺中所遇到的與交易或註冊有關的問題及反映的情況，味致應及時作出回復；
                </p>
                <p align="left">
                    對於用戶在味致網上服務平臺上的不當行為或其它任何味致認為應當終止服務的情況，味致有權隨時作出刪除相關信息、終止服務提供等處理，而無須征得用戶的同意；
                </p>
                <p align="left">
                    因網上服務平臺的特殊性，味致沒有義務對所有用戶的註冊數據、所有的交易行為以及與交易有關的其它事項進行事先審查，但如存在下列情況：
                </p>
                <p align="left">
                    ①用戶或其它第三方通知味致，認為某個具體用戶或具體交易事項可能存在重大問題；
                </p>
                <p align="left">
                    ②用戶或其它第三方向味致告知服務平臺上有違法或不當行為的，味致以普通非專業交易者的知識水平標準對相關內容進行判別，可以明顯認為這些內容或行為具有違法或不當性質的；
                </p>
                <p align="left">
                    味致有權根據不同情況選擇保留或刪除相關信息或繼續、停止對該用戶提供服務，並追究相關法律責任。
                </p>
                <p align="left">
                    用戶在味致網上交易過程中如與其它用戶因交易產生糾紛，請求味致從中予以調處，經味致審核後，味致有權通過電子郵件聯系向糾紛雙方了解情況，並將所了解的情況通過電子郵件互相通知對方；
                </p>
                <p align="left">
                    用戶因在味致網上服務與其它用戶產生訴訟的，用戶通過司法部門或行政部門依照法定程序要求味致提供相關數據，味致應積極配合並提供有關資料；
                </p>
                <p align="left">
                    味致有權對用戶的註冊數據及交易行為進行查閱，發現註冊數據或交易行為中存在任何問題或懷疑，均有權向用戶發出詢問及要求改正的通知或者直接作出刪除等處理；
                </p>
                <p align="left">
                    經香港生效法律文書或行政處罰決定確認用戶存在違法行為，或者味致有足夠事實依據可以認定用戶存在違法或違反服務協議行為的，味致有權在味致服務平臺及所在網站上以網絡發布形式公布用戶的違法行為；
                </p>
                <p align="left">
                    對於用戶在味致服務平臺發布的下列各類信息，味致有權在不通知用戶的前提下進行刪除或采取其它限制性措施，包括但不限於以規避費用為目的的信息；以炒作信用為目的的信息；味致有理由相信存在欺詐等惡意或虛假內容的信息；味致有理由相信與網上交易無關或不是以交易為目的的信息；味致有理由相信存在惡意競價或其它試圖擾亂正常交易秩序因素的信息；味致有理由相信該信息違反公共利益或可能嚴重損害味致和其它用戶合法利益的；
                </p>
                <p align="left">
                    許可使用權。 用戶以此授予味致獨家的、全球通用的、永久的、免費的許可使用權利 (並有權對該權利進行再授權)，使味致有權(全部或部份地)
                    使用、復制、修訂、改寫、發布、翻譯、分發、執行和展示用戶公示於網站的各類信息或制作其派生作品，和/或以現在已知或日後開發的任何形式、媒體或技術，將上述信息納入其它作品內；
                </p>
                <p align="left">
                    味致會在用戶的計算機上設定或取用味致 cookies。 味致允許那些在味致網頁上發布廣告的公司到用戶計算機上設定或取用 cookies 。 在用戶登錄時獲取數據，味致使用cookies可為用戶提供個性化服務。 如果拒絕所有
                    cookies，用戶將不能使用需要登錄的味致產品及服務內容。
                </p>
                <p align="left">
                    用戶完成味致網註冊後，將會獲得一個味致賬戶。
                </p>
                <p align="left">
                    五、服務的中斷和終止：
                </p>
                <p align="left">
                    用戶同意，在味致未向用戶收取服務費的情況下，味致可自行全權決定以任何理由 (包括但不限於味致認為用戶已違反本協議的字面意義和精神，或以不符合本協議的字面意義和精神的方式行事，或用戶在超過90天的時間內未以用戶的賬號及密碼登錄網站等) 終止用戶的“服務”密碼、賬戶
                    (或其任何部份)
                    或用戶對“服務”的使用，並刪除（不再保存）用戶在使用“服務”中提交的任何資料。同時味致可自行全權決定，在發出通知或不發出通知的情況下，隨時停止提供“服務”或其任何部份。賬號終止後，味致沒有義務為用戶保留原賬號中或與之相關的任何信息，或轉發任何未曾閱讀或發送的信息給用戶或第三方。此外，用戶同意，味致不就終止用戶接入“服務”而對用戶或任何第三者承擔任何責任；
                </p>
                <p align="left">
                    如用戶向味致提出註銷味致網註冊用戶身份時，經味致審核同意，由味致註銷該註冊用戶，用戶即解除與味致的服務協議關系。但註銷該用戶賬號後，味致仍保留下列權利：
                </p>
                <p align="left">
                    ①用戶註銷後，味致有權保留該用戶的註冊數據及以前的服務行為記錄。
                </p>
                <p align="left">
                    ②用戶註銷後，如用戶在註銷前在味致服務平臺上存在違法行為或違反合同的行為，味致仍可行使本服務協議所規定的權利；
                </p>
                <p align="left">
                    在下列情況下，味致可以通過註銷用戶的方式終止服務：
                </p>
                <p align="left">
                    ① 在用戶違反本服務協議相關規定時，味致有權終止向該用戶提供服務。味致將在中斷服務時通知用戶。但如該用戶在被味致終止提供服務後，再一次直接或間接或以他人名義註冊為味致用戶的，味致有權再次單方面終止向該用戶提供服務；
                </p>
                <p align="left">
                    ② 如味致通過用戶提供的信息與用戶聯系時，發現用戶在註冊時填寫的電子郵箱已不存在或無法接收電子郵件的，經味致以其它聯系方式通知用戶更改，而用戶在三個工作日內仍未能提供新的電子郵箱地址的，味致有權終止向該用戶提供服務；
                </p>
                <p align="left">
                    ③ 一旦味致發現用戶註冊數據中主要內容是虛假的，味致有權隨時終止向該用戶提供服務；
                </p>
                <p align="left">
                    ④ 本服務協議終止或更新時，用戶明示不願接受新的服務協議的；
                </p>
                <p align="left">
                    ⑤ 其它味致認為需終止服務的情況。
                </p>
                <p align="left">
                    服務中斷、終止之前用戶交易行為的處理因用戶違反法律法規或者違反服務協議規定而致使味致中斷、終止對用戶服務的，對於服務中斷、終止之前用戶交易行為依下列原則處理：
                </p>
                <p align="left">
                    ① 服務中斷、終止之前，用戶通過味致網站尚未交易或尚未交易完成的，味致當家有權在中斷、終止服務；
                </p>
                <p align="left">
                    ② 服務中斷、終止之前，用戶已經通過味致網站就味致合作商戶出售的具體物品作出要約，但交易尚未結束，味致有權在中斷或終止服務的同時刪除該用戶的相關要約；
                </p>
                <p align="left">
                    ③ 服務中斷、終止之前，用戶已經通過味致網站就具體交易達成一致，味致可以不刪除該項交易，但味致有權在中斷、終止服務的同時將用戶被中斷或終止服務的情況通知用戶的交易對方。
                </p>
                <p align="left">
                    六、責任範圍：
                </p>
                <p align="left">
                    用戶明確理解和同意，味致不對因下述任一情況而導致的任何損害賠償承擔責任，包括但不限於利潤、商譽、使用、數據等方面的損失或其它無形損失的損害賠償 (無論味致是否已被告知該等損害賠償的可能性)：
                </p>
                <p align="left">
                    使用或未能使用『服務』；
                </p>
                <p align="left">
                 第三方未經批準的接入或第三方更改用戶的傳輸數據或數據；
                </p>
                <p align="left">
                    第三方對“服務”的聲明或關於“服務”的行為；或非因味致的原因而引起的與“服務”有關的任何其它事宜，包括疏忽。
                </p>
                <p align="left">
                    用戶明確理解並同意，如因其違反有關法律或者本協議之規定，使味致遭受任何損失，受到任何第三方的索賠，或任何行政管理部門的處罰，用戶應對味致提供補償，包括合理的律師費用。
                </p>
                <p align="left">
                    七、隱私權政策：
                </p>
                <p align="left">
                 適用範圍：
                </p>
                <p align="left">
                    ① 在用戶註冊味致賬戶或者味致賬戶時，用戶根據味致要求提供的個人註冊信息；
                </p>
                <p align="left">
                    ② 在用戶使用味致服務，參加味致活動，或訪問味致網頁時，味致自動接收並記錄的用戶瀏覽器上的服務器數值，包括但不限於IP地址等數據及用戶要求取用的網頁記錄；
                </p>
                <p align="left">
                    ③ 味致收集到的用戶在味致進行交易的有關數據，包括但不限於出價、購買、物品登錄、信用評價及違規記錄；
                </p>
                <p align="left">
                    ④ 味致通過合法途徑從商業夥伴處取得的用戶個人數據。
                </p>
                <p align="left">
                 信息使用：
                </p>
                <p align="left">
                    味致尊重並保護所有使用用戶的個人隱私權，您註冊的用戶名、電子郵件地址等個人資料，非經您親自許可或根據相關法律、法規的強制性規定，本網站不會主動地泄露給第三方。但若由不可抗力造成信息泄露，本網站不對此負責。
                </p>
                <p align="left">
                    ① 味致不會向任何人出售或出借用戶的個人信息，除非事先得到用戶得許可。
                </p>
                <p align="left">
                    ② 味致亦不允許任何第三方以任何手段收集、編輯、出售或者無償傳播用戶的個人信息。任何用戶如從事上述活動，一經發現，味致有權立即終止與該用戶的服務協議，查封其賬號。
                </p>
                <p align="left">
                    ③ 為服務用戶的目的，味致可能通過使用用戶的個人信息，向用戶提供服務，包括但不限於向用戶發出產品和服務信息，或者與味致合作夥伴共享信息以便他們向用戶發送有關其產品和服務的信息（後者需要用戶的事先同意）。
                </p>
                <p align="left">
                 信息披露：
                </p>
                <p align="left">
                 用戶的個人信息將在下述情況下部分或全部被披露：
                </p>
                <p align="left">
                    ① 經用戶同意，向第三方披露；
                </p>
                <p align="left">
                    ② 如用戶是合資格的知識產權投訴人並已提起投訴，應被投訴人要求，向被投訴人披露，以便雙方處理可能的權利糾紛；
                </p>
                <p align="left">
                    ③ 根據法律的有關規定，或者行政或司法機構的要求，向第三方或者行政、司法機構披露；
                </p>
                <p align="left">
                    ④ 如果用戶出現違反香港有關法律或者網站政策的情況，需要向第三方披露；
                </p>
                <p align="left">
                    ⑤ 為提供你所要求的產品和服務，而必須和第三方分享用戶的個人信息；
                </p>
                <p align="left">
                    ⑥ 其它味致根據法律或者網站政策認為合適的披露；
                </p>
                <p align="left">
                    ⑦ 在味致網上創建的某一交易中，如交易任何一方履行或部分履行了交易義務並提出信息披露請求的， 味致有全權可以決定向該用戶提供其交易對方的聯絡方式等必要信息，以促成交易的完成或糾紛的解決。
                </p>
                <p align="left">
                 信息安全：
                </p>
                <p align="left">
                    ① 味致及味致賬戶均有密碼保護功能，請妥善保管用戶的賬戶及密碼信息；
                </p>
                <p align="left">
                    ② 在使用味致服務進行網上交易時，用戶不可避免的要向交易對方或潛在的交易對方提供自己的個人信息，如聯絡方式或者郵政地址。請用戶妥善保護自己的個人信息，僅在必要的情形下向他人提供；
                </p>
                <p align="left">
                    ③ 如果用戶發現自己的個人信息泄密，尤其是味致賬戶及密碼發生泄露，請用戶立即聯絡味致客服，以便味致采取相應措施。
                </p>
                <p align="left">
                 Cookie的使用：
                </p>
                <p align="left">
                    ① 通過味致所設Cookie所取得的有關信息，將適用本政策；
                </p>
                <p align="left">
                    ② 在味致上發布廣告的公司通過廣告在用戶計算機上設定的Cookies，將按其自己的隱私權政策使用。
                </p>
                <p align="left">
                    編輯和刪除個人信息的權限： 用戶可以點擊我的味致對用戶的個人信息進行編輯和刪除，除非味致另有規定。
                </p>
                <p align="left">
                    政策修改：味致保留對本政策作出不時修改的權利。
                </p>
                <p align="left">
                    管轄：
                </p>
                <p>
                    本服務條款之解釋與適用，以及與本服務條款有關的爭議，均應依照香港特別行政區法律予以處理。
                </p>
            </div>

            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-lg btn-danger btn-block">返回</button>
            </div>
        </div>
    </div>
</div>