{% extends "bootstrap/base.html" %}

{% block title %}CDS{% endblock %}

{% block head %}
{{ super() }}
<meta name="google-site-varification" content="" />
{% endblock %}

{% block navbar %}
{% include 'layouts/_header.html' %} 
{% endblock %}

{% block content %}
<div class="container-fluid">
	{% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block footer %}
{% include 'layouts/_footer.html' %}
{% endblock %}