{% extends "bootstrap/base.html" %}

{% block title %}CDS{% endblock %}

{% block head %}
{{ super() }}
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,100,700,900' type='text/css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Allura' type='text/css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Righteous' type='text/css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' type='text/css'>
 <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Alex+Brush' type='text/css'>

<link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/base_styles.css') }}">
{% endblock %}

{% block navbar %}
{% include 'layouts/_header.html' %} 
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
{% endblock %}

{% block footer %}
{% include 'layouts/_footer.html' %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/jquery.js') }}"></script>
{% endblock %}