{% extends "layouts/inner.html" %}

{% block title %}Restaurants | CDS{% endblock %}

{% block content %}
{{ super() }}
<div class="page-header col-xs-12 col-lg-12">
	<h1>Restaurants</h1>
</div>
<div class="col-sx-12 col-lg-12">
	<a href="{{ url_for('supply.new_restaurant') }}"><button class="btn btn-info btn-internal">Create New Restaurant</button></a>

	<table class="table text-center">
		<thead>
			<tr>
				<th>Name</th>
				<th>Route</th>
				<th></th>
				<th>Cooperation</th>
			</tr>
		</thead>
		<tbody>
			{% for restaurant in restaurants_co %}
			<tr>
				<td>{{ restaurant.name }}</td>
				<td>{{ restaurant.route.name }}</td>
				<td><a href="{{ url_for('supply.edit_restaurant', id=restaurant.id) }}"><button class="btn btn-info">Edit</button></a></td>
				<td><a href="{{ url_for('supply.stop_cooperation', id=restaurant.id) }}"><button class="btn btn-danger">Stop</button></a></td>
			</tr>
			{% endfor %}
			{% for restaurant in restaurants_not_co %}
			<tr>
				<td>{{ restaurant.name }}</td>
				<td>{{ restaurant.route.name }}</td>
				<td><a href="{{ url_for('supply.edit_restaurant', id=restaurant.id) }}"><button class="btn btn-info">Edit</button></a></td>
				<td><a href="{{ url_for('supply.start_cooperation', id=restaurant.id) }}"><button class="btn btn-success">Start</button></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
