{% extends "layouts/inner.html" %}

{% block title %}Spots | CDS{% endblock %}

{% block content %}
{{ super() }}
<div class="page-header col-xs-12 col-lg-12">
	<h1>Spots</h1>
</div>
<div>
	<div class="col-sx-12 col-lg-12">
	<a href="{{ url_for('supply.new_spot') }}"><button class="btn btn-info btn-internal">Create Spot</button></a>

	<table class="table text-center">
		<thead>
			<tr>
				<th>Name</th>
				<th></th>
				<th>In Use</th>
			</tr>
		</thead>
		<tbody>
			{% for spot in spots_in_use %}
			<tr>
				<td>{{ spot.name }}<br><img src="{{ spot.img_url }}" width=120 height=120></td>
				<td><a href="{{ url_for('supply.edit_spot', id=spot.id) }}"><button class="btn btn-info">Edit</button></a></td>
				<td><a href="{{ url_for('supply.stop_use', id=spot.id) }}"><button class="btn btn-danger">Stop</button></a></td>
			</tr>
			{% endfor %}
			{% for spot in spots_not_in_use %}
			<tr>
				<td>{{ spot.name }}<br><img src="{{ spot.img_url }}" width=120 height=120></td>
				<td><a href="{{ url_for('supply.edit_spot', id=spot.id) }}"><button class="btn btn-info">Edit</button></a></td>
				<td><a href="{{ url_for('supply.start_use', id=spot.id) }}"><button class="btn btn-success">Start</button></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}