{% extends "layouts/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login | CDS{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
	<div id="depositbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  	<div class="mypanel" >
    	<div class="panel-heading text-center">
        <img style="width:88px;" src="{{ url_for('static', filename='assets/images/logo_blue.png') }}">
        <div class="panel-title" style="font-size: 18px;margin-top: 20px;font-weight: bold;">New Deposit</div>
      </div>
      <div style="padding-top:30px;" class="panel-body" >
      	<form method="POST" action="{{ url_for('client.create_deposit') }}">
      		{{ form.hidden_tag() }}

	       	<div class="my-form" style="margin-bottom: 25px;">
	          <div class="input-group col-xs-12">
							<div style="float: left;" class="col-xs-12 col-lg-12 input-group">
	            	{{ form.phone(class='form-control') }}
	            </div>
						</div>
						{% if form.phone.errors %}
	       		<div class="form-validate_error">{{ form.phone.errors.0 }}</div>
	       		{% endif %}
	       	</div>

	       	<div class="my-form" style="margin-bottom: 25px;">
						<div class="input-group col-xs-12">
	          	{{ form.amount(class='form-control') }}
	         	</div>
	         	{% if form.amount.errors %}
	       		<div class="form-validate_error">{{ form.amount.errors.0 }}</div>
	       		{% endif %}
	       	</div>

	       	<div class="my-form" style="margin-bottom: 25px;">
						<div class="input-group col-xs-12">
	          	{{ form.explanation(class='form-control') }}
	         	</div>
	         	{% if form.explanation.errors %}
	       		<div class="form-validate_error">{{ form.explanation.errors.0 }}</div>
	       		{% endif %}
	       	</div>

	       	<div class="col-xs-12">
          	{{ form.submit(class="btn btn-info btn-block btn-internal") }}
          </div>
        </form>
      </div>

     	<div style="padding-left:10px;opacity: 0.7;font-size: 14px;margin-top:8px;border-top: 1px solid #dadada">
        <p style="padding: 18px 0px"><a href="{{ url_for('client.deposits') }}">&lt;&lt; Back to deposits</a></p>
      </div>
{% endblock %}