{% extends "layouts/inner.html" %}

{% block title %}Deposits | CDS{% endblock %}

{% block content %}
{{ super() }}
<div class="page-header col-xs-12 col-lg-12">
	<h1>Deposits</h1>
</div>
<div class="col-xs-12 col-lg-12">
	<a href="{{ url_for('client.create_deposit') }}"><button class="btn btn-info btn-internal">Create New Deposit</button></a>
	<br><br>
	<table class="table text-center">
		<thead>
			<tr>
				<th class="group0">Created At</th>
				<th class="group0">Amount</th>
				<th class="group0">User</th>
				<th class="group0">Phone</th>
				<th class="group1">Email</th>
				<th class="group1">Explanation</th>
			</tr>
		</thead>

		<tbody>
			{% for deposit in deposits %}
			<tr>
				<td class="group0">{{ deposit.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
				<td class="group0" 
					{% if deposit.amount < 0 %}
						style="color:red;font-weight:bold"
					{% endif %}
					>{{ deposit.amount }}</td>
				<td class="group0">{{ deposit.user.name  }}</td>
				<td class="group0">{{ deposit.user.phone  }}</td>
				<td class="group1">{{ deposit.user.email }}</td>
				<td class="group1">
					{% if deposit.explanation %}
						{{ deposit.explanation }}
					{% endif %}
				</td>
				<td class="change-group"><input type="checkbox" class="change-switch"></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}