{% extends "layouts/base.html" %}

{% block title %}CDS{% endblock %}

{% block content %}
{{ super() }}
<div class="page-header">
	<h1>this is profile</h1>
</div>
<div>
	<ul>Name: {{ user.name }}</ul>
	<ul>Email: {{ user.email }}</ul>
	<ul>Phone: {{ user.phone }}</ul>
	<ul>Balance: {{ user.balance }}</ul>
	<ul>Gender: {{ user.gender }}</ul>
	<ul>Faculty: {{ user.faculty }}</ul>
	<ul>Identity: {{ user.identity }}</ul>
</div>
<div>
	<ul><a href="{{ url_for('client.edit_profile') }}">Edit Profile</a></ul>
<div>
{% endblock %}