{% extends "layouts/inner.html" %}

{% block title %}Users | CDS{% endblock %}

{% block content %}
{{ super() }}
<div class="page-header col-xs-12 col-lg-12">
	<h1>Users</h1>
</div>
<div class="col-xs-12 col-lg-12">
	<h3>Total Balance: <span style="color:red;">{{ total_balance }}</span></h3>
	<h3>Total Students: {{ total_students }}</h3>
	<h3>Total Staffs: {{ total_staffs }}</h3>
	<br>

	<table class="table text-center">
		<thead>
			<tr>
				<th class="group0">Name</th>
				<th class="group0">Balance</th>
				<th class="group0">Phone</th>
				<th class="group0">Email</th>
				<th class="group1">Gender</th>
				<th class="group1">Faculty</th>
				<th class="group1">Identity</th>
				<th class="group1">Register At</th>
			</tr>
		</thead>

		<tbody>
			{% for user in users_in_debt %}
			<tr style="color:red">
				<td class="group0">{{ user.name }}</td>
				<td class="group0" style="font-weight: bold;">{{ user.balance }}</td>
				<td class="group0">{{ user.phone }}</td>
				<td class="group0">{{ user.email }}</td>
				<td class="group1">{{ user.gender }}</td>
				<td class="group1">{{ user.faculty }}</td>
				<td class="group1">{{ user.identity }}</td>
				<td class="group1">{{ user.created_at.strftime('%Y-%m-%d') }}</td>
				<td class="change-group"><input type="checkbox" class="change-switch"></td>
			</tr>
			{% endfor %}
			{% for user in other_users %}
			<tr
				{% if user.can_admin %}
					style="color:#46A3FF"
				{% endif %}
			>
				<td class="group0">{{ user.name }}</td>
				<td class="group0" style="color:red">{{ user.balance }}</td>
				<td class="group0">{{ user.phone }}</td>
				<td class="group0">{{ user.email }}</td>
				<td class="group1">{{ user.gender }}</td>
				<td class="group1">{{ user.faculty }}</td>
				<td class="group1">{{ user.identity }}</td>
				<td class="group1">{{ user.created_at.strftime('%Y-%m-%d') }}</td>
				<td class="change-group"><input type="checkbox" class="change-switch"></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>	
{% endblock %}