{% extends "layouts/base.html" %}

{% block title %}Users | CDS{% endblock %}

{% block content %}
{{ super() }}
<div class="page-header col-xs-12 col-lg-12">
	<h1>Users</h1>
</div>
<div class="col-xs-12 col-lg-12">
	<h3>Total Balance: <span style="color:red;">{{ total_balance }}</span></h3>
	<h3>Total Students: {{ total_students }}</h3>
	<h3>Total Staffs: {{ total_staffs }}</h3>

	<table class="table">
		<thead>
			<tr>
				<th>Balance</th>
				<th>Name</th>
				<th>Gender</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Faculty</th>
				<th>Identity</th>
				<th>Register At</th>
			</tr>
		</thead>

		<tbody>
			{% for user in users %}
			<tr>
				<td>{{ user.balance }}</td>
				<td>{{ user.name }}</td>
				<td>{{ user.gender }}</td>
				<td>{{ user.phone }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.faculty }}</td>
				<td>{{ user.identity }}</td>
				<td>{{ user.created_at.strftime('%Y-%m-%d') }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>	
{% endblock %}