{% extends "bootstrap/base.html" %}

{% block title %}CDS{% endblock %}

{% block head %}
{{ super() }}
<meta name="google-site-varification" content="T3ZR5YKgJ5m4bkojEgWD_PunRqqbimrIsiXcW9E-YZA" />
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container">
	{% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}