{% extends "layouts/base.html" %}

{% block title %}Menu Today | CDS{% endblock %}

{% block content %}
{{ super() }}
<div class="page-header">
	<h1>this is menu today</h1>
</div>
<p>
	{% if current_user.is_authenticated %}
		{% for dish in dishes_today %}
		<ul>
			{% if dish.is_available(current_user.is_VIP) %}
			<a href="{{ url_for('ordering.create_order', dish_id=dish.id) }}">Order {{dish.name}}</a>
			{% else %}
			Order {{dish.name}}
			{% endif %}
		</ul>
		{% endfor %}
	{% else %}
	<a href="{{ url_for('auth.login') }}">Login To Order</a>
	{% endif %}
{% endblock %}