{% extends "layouts/main.html" %}

{% block title %}Weekly Menu | CDS{% endblock %}

{% block content %}
{{ super() }}
<div class="week-nav titlebar">
	<b class='title'>Weekly Menu</b>
	{% if day == 'Monday' %}
	<b class='current'>Mon.</b>
	{% else %}
	<a href="{{ url_for('main.weekly_menu', day='Monday') }}">Mon.</a>
	{% endif %}
	{% if day == 'Tuesday' %}
	<b class='current'>Tue.</b>
	{% else %}
	<a href="{{ url_for('main.weekly_menu', day='Tuesday') }}">Tue.</a>
	{% endif %}
	{% if day == 'Wednesday' %}
	<b class='current'>Wed.</b>
	{% else %}
	<a href="{{ url_for('main.weekly_menu', day='Wednesday') }}">Wed.</a>
	{% endif %}
	{% if day == 'Thursday' %}
	<b class='current'>Thu.</b>
	{% else %}
	<a href="{{ url_for('main.weekly_menu', day='Thursday') }}">Thu.</a>
	{% endif %}
	{% if day == 'Friday' %}
	<b class='current'>Fri.</b>
	{% else %}
	<a href="{{ url_for('main.weekly_menu', day='Friday') }}">Fri.</a>
	{% endif %}
</div>

<div class="container-fluid">
	<div class="menu">
		{% for dish in dishes %}
		<div class="item-container col-xs-12 col-sm-6 col-md-6 col-lg-4">
			<a class="item-link" href="{{ url_for('supply.dish_details', id=dish.id) }}"><div class="item">
				<div class="item-image" style="background-image:url({{ dish.large_img_url }})">
					<p class="item-price">{{ dish.price }} HKD</p>
				</div>
				<div class="item-description">
					<p class="item-name">{{ dish.name }}
						<span class="item-spiciness">
							{% for s in range(0, dish.spiciness) %}🌶{% endfor %}
						</span>
					</p>
					<a href="{{ dish.restaurant.restaurant_url }}"><p class="item-subinfo">{{ dish.restaurant.name }}</p></a>
				</div>
			</div></a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
$(function(){
	$(".item").mouseenter(function(){
		$(this).css({"box-shadow": "0 0 15px 6px white"});
	});
	$(".item").mouseleave(function(){
		$(this).css({"box-shadow": "none"});
	});
});
</script>
{% endblock %}