{% extends "layouts/main.html" %}

{% block title %}Weekend | CDS{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/info_container_style.css') }}?ver=14">
{% endblock %}

{% block content %}
{{ super() }}
<div class="titlebar">
	<b class="title">Menu Today</b>
</div>
<div class="container cds_info_container">
	<section class="cds_info" id="profile_sec">
		<div style="text-align: center;display: table-cell;vertical-align: middle;">
			<h2>Closed at weekends<br><br>(～﹃～)~zZ</h2>
		</div>

		<img class="cds_character" src="{{ url_for('static', filename='assets/images/logo_character.png') }}">
		<img class="cds" src="{{ url_for('static', filename='assets/images/cds.png') }}">
		<img class="goat" src="{{ url_for('static', filename='assets/images/goat.png') }}">
		<img class="fish" src="{{ url_for('static', filename='assets/images/fish.png') }}">
	</section>
</div>

{% include 'layouts/_howto.html' %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/info_container.js') }}"></script>
{% endblock %}